---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "사) 생터성경사역원은 ~";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["지부운영국: 국내사역", "SI국: 해외사역", "출판국: 교재, PPT", "다음세대: KIDS, YRG, 펄", "군사역본부", "총무국"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
    <style is:global define:vars={{skillColor, fontWeight, textCase}}>
        h1 {
            color: purple;
            font-size: 4rem;
            }
        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
            }
    </style>
    <h2>막힌 곳을 뚫어주는 ‘어? 성경이 읽어지네’ 기반의 성경교육기관</h2>

    <p>누구나 성경을 입체적으로 읽을 수 있도록 도와주는 전문강사를 양성하고 있으며,</p>

    <p>전문강사는 1단계 성경일독학교(성경방), 2단계 인도자 컨퍼런스의 과정을 수료한 후</p>

    {happy && <p>마지막 단계인 ‘전문강사스쿨’이라고 하는 6개월간의 정규과정을 거쳐서 세워지게 됩니다.</p>}

    {finished && <p>그 외의 여러가지 사역을 동반하고 있습니다.</p>}

    {/* {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>} */}

    <p>세부 사역들은 다음과 같습니다.</p>
        <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/adsysdKsbeo?si=1MiegiC04E5vlkey" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</BaseLayout>