---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "생터성경사역원 블로그입니다";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>사)생터성경사역원의 소식을 전해드립니다.</h2>
  <Greeting client:load messages={["안녕하세요^^", "반가워요^^", "좋은 하루^^", "환영해요^^"]} />
</BaseLayout>
